[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
pre-commit = "*"
pytorch-lightning = "*"
tqdm = "*"
toml = "*"
opendatasets = "*"
gdown = "*"
tensorboard = "*"
wandb = "*"
smart-open = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.10"
